<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd" colors="true">
    <testsuites>
        <testsuite name="My package's test suit">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>